.add-form-modal {
  position: absolute;
  top: 2rem;
  left: 50%;
  background: #f7f6e7;
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}

.add-form-modal p {
  margin-bottom: 0;
  color: #f2a154;
}

.add-route-form {
  background-color: #e7e6e1;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 6px;
}

.add-route-form input {
  background-color: #f7f6e7;
  border-color: transparent;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}

.add-route-form button,
.add-route-remove-btn {
  display: inline-block;
  background-color: #314e52;
  color: white;
  border-color: transparent;
  margin-top: 1rem;
  padding: 0.15rem 0.25rem;
  border-radius: 6px;
  cursor: pointer;
}
